<mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>Вхід</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Електронна пошта</mat-label>
          <input matInput formControlName="email" type="email" required>
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            Введіть електронну пошту
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Будь ласка, введіть правильну електронну пошту
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Пароль</mat-label>
          <input matInput formControlName="password" type="password" required>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Введіть пароль
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
            Пароль повинен бути більше 6 символів
          </mat-error>
        </mat-form-field>
  
        <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
  
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          Вхід
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <p>Не зареєстровані <a routerLink="/auth/register">Реєстрація</a></p>
    </mat-card-actions>
  </mat-card>