.recipe-card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  img {
    max-height: 200px;
    object-fit: cover;
  }
  
  mat-card-content {
    flex: 1;
  }
  
  mat-card-actions {
    text-align: right;
  }