<div class="w-full h-[600px]">
  <!-- <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let banner of banners">
      <div class="relative h-[600px] bg-cover bg-center" [style.backgroundImage]="'url(' + banner.image + ')'">
        <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center">
          <div class="text-center text-white">
            <h2 class="text-4xl font-serif mb-4">{{ banner.title }}</h2>
            <a [routerLink]="banner.link" class="bg-orange-600 text-white px-6 py-3 rounded-lg hover:bg-orange-700">Переглянути</a>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper> -->
</div>