<div class="container">
    <div class="row">
        <section class="col-sm-3">   
          <ul class="list-group" >
            <li class="list-group-item" *ngFor="let category of categories">
                <a  [routerLink]="['/category', category.transliteratedName]"> <!-- routerLinkActive="active" -->
                    {{category.name}}
                </a>
            </li>
          </ul>
        </section>
        <section class="col-9">
            <div class="slider h-100">
                Slider
            </div>
            
        </section>
    </div>
    
</div>
