.recipe-list {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  button {
    display: block;
    margin: 0 auto 20px;
  }
  
  mat-grid-list {
    width: 100%;
  }